<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DEBE5F91DDDFB6900000324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DEBE60D1DDDFB6900000324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DEBE6181DDDFB6900000324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DEBE63B1DDDFB8E00000324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
